<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="../../images/apple-touch-icon-114x114.png">
<link rel="stylesheet" href="../../scripts/light7/css/light7.min.css">
<link rel="stylesheet" href="../../scripts/light7/css/light7-swiper.min.css?_=2018">
<link rel="stylesheet" href="../../styles/base.css?_=2018">
<link rel="stylesheet" href="//at.alicdn.com/t/font_560420_3e008gltg8wzsemi.css">
<link rel="stylesheet" href="../../styles/main.css?_=2018">

<script data-main="/wui/mobile/scripts/app.js?_=2018" src="../../scripts/require.js"></script>
