<!DOCTYPE html>
<html>

<head>
<!--#include virtual="../include/meta.html" -->
<title>小库优选</title>
<!--#include virtual="../include/style-script.html" -->
</head>

<body>
  <div class="page">
    <!--#include virtual="../include/nav.html" -->
	<div class="share-url" style="display: none;">http://{{$_SERVER['HTTP_HOST']}}</div>
	<div class="share-title" style="display: none;">小库优选 -...</div>
	<div class="share-desc" style="display: none;">{{$this.owner.dname}}说：...。</div>
    <div class="content">
      采购中心
    </div>
  </div>
  <!--#include virtual="../include/footer.html" -->
</body>

</html>