<!DOCTYPE html>
<html>
  <head>
    <!--#include virtual="../include/meta.html" -->
    <title>小库优选——订单管理</title>
    <!--#include virtual="../include/style-script.html" -->
  </head>
  <body>
    <!-- page 容器 -->
    <div class="page" id="orderList">
      <!-- 标题栏 -->
		<header class="bar bar-nav c333">
			<a href="index.html" class="icon icon-left pull-left"></a>
      		<h5 class="title">订单管理</h5>
		</header>
		<nav class="bar bar-tab">
			<a class="tab-item" href="#">
				<span class="icon bar-icon-01"></span>
				<span class="tab-label mtNo">采购中心</span>
			</a>
			<a class="tab-item" href="#">
				<span class="icon bar-icon-02"></span>
				<span class="tab-label mtNo">订单管理</span>
			</a>
			<a class="tab-item" href="#">
				<span class="icon bar-icon-03"></span>
				<span class="tab-label mtNo">采购单</span>
				<span class="badge">2</span>
			</a>
			<a class="tab-item active" href="#">
				<span class="icon bar-icon-04"></span>
				<span class="tab-label mtNo">我的</span>
			</a>
		</nav>
		
		<div class="content">
			<div class="buttons-tab">
				<a href="#tab1" class="tab-link button active">全部</a>
				<a href="#tab2" class="tab-link button">议价中</a>
				<a href="#tab3" class="tab-link button">待付款</a>
				<a href="#tab4" class="tab-link button">待收货</a>
				<a href="#tab5" class="tab-link button">已取消</a>
			</div>
			<div class="tabs">
				<div id="tab1" class="tab active">
					<div class="list-box">
						<div class="puchase-title">
					        <div class="row">
					          <div class="col-50"><small>订单编号:4656464847112</small></div>
					          <div class="col-50 text-right cstyle"><small>议价中</small></div>
					        </div>
				      	</div>
						<div class="order-box">
					        <div class="order-box-img">
					          <img src="../../images/product.jpg" alt="">
					        </div>
					        <div class="details-title mtNo">
					          <ul>
					            <li>iphone 8 Puls</li>
					            <li>金色</li>
					            <li>64G</li>
					          </ul>
					          <ul class="fs12">
					            <li>全网通</li>
					            <li>大陆行货</li>
					          </ul>
					          <ul class="fs12">
					            <li>
					              <p class="cstyle fs12">|<span>触摸失灵</span>|<span>显示屏损坏</span>
					              </p>
					            </li>
					          </ul>
					          <ul>
					            <li class="cred"><small>￥</small><span>3012.00</span>
					            </li>
					            <li class="fs12 c999">深圳A仓</li>
					          </ul>
					          <button class="button button-style1 title-btn1">商品报告</button>
					        </div>
					    </div>
						<div class="details-foot lh25 bgfff">
							<ul>
								<li class="pull-left">2017-11-28 18:52</li>
								<li><a href="#" class="btn-white">取消订单</a></li>
								<li><a href="#" class="btn-color1">提示发货</a></li>
							</ul>
						</div>
					</div>
					<div class="list-box">
						<div class="puchase-title">
					        <div class="row">
					          <div class="col-50"><small>订单编号:4656464847112</small></div>
					          <div class="col-50 text-right cstyle"><small>13：45后关闭</small>&nbsp;&nbsp;&nbsp;&nbsp;<small>待付款</small></div>
					        </div>
				      	</div>
						<div class="order-box">
					        <div class="order-box-img">
					          <img src="../../images/product.jpg" alt="">
					        </div>
					        <div class="details-title mtNo">
					          <ul>
					            <li>iphone 8 Puls</li>
					            <li>金色</li>
					            <li>64G</li>
					          </ul>
					          <ul class="fs12">
					            <li>全网通</li>
					            <li>大陆行货</li>
					          </ul>
					          <ul class="fs12">
					            <li>
					              <p class="cstyle fs12">|<span>触摸失灵</span>|<span>显示屏损坏</span>
					              </p>
					            </li>
					          </ul>
					          <ul>
					            <li class="cred"><small>￥</small><span>3012.00</span>
					            </li>
					            <li class="fs12 c999">深圳A仓</li>
					          </ul>
					          <button class="button button-style1 title-btn1">商品报告</button>
					        </div>
					    </div>
						<div class="details-foot lh25 bgfff">
							<ul>
								<li class="pull-left">2017-11-28 18:52</li>
								<li><a href="#" class="btn-white">取消订单</a></li>
								<li><a href="#" class="btn-red">付款</a></li>
							</ul>
						</div>
					</div>
					<div class="list-box">
						<div class="puchase-title">
					        <div class="row">
					          <div class="col-50"><small>订单编号:4656464847112</small></div>
					          <div class="col-50 text-right cstyle"><small>待出货</small></div>
					        </div>
				      	</div>
						<div class="order-box">
					        <div class="order-box-img">
					          <img src="../../images/product.jpg" alt="">
					        </div>
					        <div class="details-title mtNo">
					          <ul>
					            <li>iphone 8 Puls</li>
					            <li>金色</li>
					            <li>64G</li>
					          </ul>
					          <ul class="fs12">
					            <li>全网通</li>
					            <li>大陆行货</li>
					          </ul>
					          <ul class="fs12">
					            <li>
					              <p class="cstyle fs12">|<span>触摸失灵</span>|<span>显示屏损坏</span>
					              </p>
					            </li>
					          </ul>
					          <ul>
					            <li class="cred"><small>￥</small><span>3012.00</span>
					            </li>
					            <li class="fs12 c999">深圳A仓</li>
					          </ul>
					          <button class="button button-style1 title-btn1">商品报告</button>
					        </div>
					    </div>
						<div class="details-foot lh25 bgfff">
							<ul>
								<li class="pull-left">2017-11-28 18:52</li>
								<li><a href="#" class="btn-white">取消订单</a></li>
								<li><a href="#" class="btn-color1">提示发货</a></li>
							</ul>
						</div>
					</div>
					<div class="list-box">
						<div class="puchase-title">
					        <div class="row">
					          <div class="col-50"><small>订单编号:4656464847112</small></div>
					          <div class="col-50 text-right cstyle"><small>待收货</small></div>
					        </div>
				      	</div>
						<div class="order-box">
					        <div class="order-box-img">
					          <img src="../../images/product.jpg" alt="">
					        </div>
					        <div class="details-title mtNo">
					          <ul>
					            <li>iphone 8 Puls</li>
					            <li>金色</li>
					            <li>64G</li>
					          </ul>
					          <ul class="fs12">
					            <li>全网通</li>
					            <li>大陆行货</li>
					          </ul>
					          <ul class="fs12">
					            <li>
					              <p class="cstyle fs12">|<span>触摸失灵</span>|<span>显示屏损坏</span>
					              </p>
					            </li>
					          </ul>
					          <ul>
					            <li class="cred"><small>￥</small><span>3012.00</span>
					            </li>
					            <li class="fs12 c999">深圳A仓</li>
					          </ul>
					          <button class="button button-style1 title-btn1">商品报告</button>
					        </div>
					    </div>
						<div class="details-foot lh25 bgfff">
							<ul>
								<li class="pull-left">2017-11-28 18:52</li>
								<li><a href="#" class="btn-white">物流信息</a></li>
								<li><a href="#" class="btn-color1">确认收货</a></li>
							</ul>
						</div>
					</div>
					<div class="list-box">
						<div class="puchase-title">
					        <div class="row">
					          <div class="col-50"><small>订单编号:4656464847112</small></div>
					          <div class="col-50 text-right cstyle"><small>待已完成</small></div>
					        </div>
				      	</div>
						<div class="order-box">
					        <div class="order-box-img">
					          <img src="../../images/product.jpg" alt="">
					        </div>
					        <div class="details-title mtNo">
					          <ul>
					            <li>iphone 8 Puls</li>
					            <li>金色</li>
					            <li>64G</li>
					          </ul>
					          <ul class="fs12">
					            <li>全网通</li>
					            <li>大陆行货</li>
					          </ul>
					          <ul class="fs12">
					            <li>
					              <p class="cstyle fs12">|<span>触摸失灵</span>|<span>显示屏损坏</span>
					              </p>
					            </li>
					          </ul>
					          <ul>
					            <li class="cred"><small>￥</small><span>3012.00</span>
					            </li>
					            <li class="fs12 c999">深圳A仓</li>
					          </ul>
					          <button class="button button-style1 title-btn1">商品报告</button>
					        </div>
					    </div>
						
					</div>
					
				</div>
				<div id="tab2" class="tab">
					2
				</div>
				<div id="tab3" class="tab">
					3
				</div>
				<div id="tab4" class="tab">
					4
				</div>
				<div id="tab5" class="tab">
					5
				</div>
			</div>
		</div>
    </div>
  </body>
</html>