<!DOCTYPE html>
<html>
  <head>
    <!--#include virtual="../include/meta.html" -->
    <title>小库优选——采购单</title>
    <!--#include virtual="../include/style-script.html" -->
  </head>
  <body>
    <!-- page 容器 -->
    <div class="page" id="orderSubscribe">
      <!-- 标题栏 -->
		<header class="bar bar-nav c333">
			<a href="index.html" class="icon icon-left pull-left"></a>
      		<h5 class="title">采购单</h5>
		</header>
		<nav class="bar bar-tab">
			<a class="tab-item" href="#">
				<span class="icon bar-icon-01"></span>
				<span class="tab-label mtNo">采购中心</span>
			</a>
			<a class="tab-item" href="#">
				<span class="icon bar-icon-02"></span>
				<span class="tab-label mtNo">订单管理</span>
			</a>
			<a class="tab-item" href="#">
				<span class="icon bar-icon-03"></span>
				<span class="tab-label mtNo">采购单</span>
				<span class="badge">2</span>
			</a>
			<a class="tab-item active" href="#">
				<span class="icon bar-icon-04"></span>
				<span class="tab-label mtNo">我的</span>
			</a>
		</nav>
		<nav class="bar bar-two bar-tab">
      		<div class="details-foot subscribe-foot">
		        <ul>
		        	<li class="pull-left"><label class="register-checkbox" id="quanxuan"><span class="iconfont icon-weixuanzhong"></span>&nbsp;&nbsp;<small>全选</small></label><input type="checkbox" value="" class="none"></li>
					<li>合计：<span class="cred"><small>￥</small>346</span></li>
					<li class="bred"><a href="#">立即采购</a></li>
		        </ul>
	      	</div>
	    </nav>
		<div class="content content-tow">
			<div class="buttons-tab">
				<a href="#tab1" class="tab-link button active">采购商品(6)</a>
				<a href="#tab2" class="tab-link button">议价商品(3)</a>
			</div>
			<div class="tabs">
				<div id="tab1" class="tab active puchase-table mt5">
					<table border="1">
						<thead>
							<tr>
								<th>序号</th>
								<th width="35%">商品属性</th>
								<th width="40%"><i class="iconfont icon-shaixuan"></i>&nbsp;异常情况</th>
								<th width="14%">价格</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
									<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
								</td>
								<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
								<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
								<td>2300元</td>
							</tr>
							<tr>
								<td>
									<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
									<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
								</td>
								<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
								<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
								<td>2300元</td>
							</tr>
							<tr>
								<td>
									<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
									<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
								</td>
								<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
								<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
								<td>2300元</td>
							</tr>
							<tr>
								<td>
									<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
									<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
								</td>
								<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
								<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
								<td>2300元</td>
							</tr>
							<tr>
								<td>
									<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
									<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
								</td>
								<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
								<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
								<td>2300元</td>
							</tr>
							<tr>
								<td>
									<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
									<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
								</td>
								<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
								<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
								<td>2300元</td>
							</tr>
							<tr>
								<td>
									<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
									<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
								</td>
								<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
								<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
								<td>2300元</td>
							</tr>
							<tr>
								<td>
									<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
									<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
								</td>
								<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
								<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
								<td>2300元</td>
							</tr>
							<tr>
								<td>
									<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
									<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
								</td>
								<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
								<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
								<td>2300元</td>
							</tr>
							<tr>
								<td>
									<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
									<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
								</td>
								<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
								<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
								<td>2300元</td>
							</tr>
							<tr>
								<td>
									<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
									<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
								</td>
								<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
								<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
								<td>2300元</td>
							</tr>
							<tr>
								<td>
									<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
									<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
								</td>
								<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
								<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
								<td>2300元</td>
							</tr>
							<tr>
								<td>
									<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
									<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
								</td>
								<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
								<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
								<td>2300元</td>
							</tr>
							<tr>
								<td>
									<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
									<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
								</td>
								<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
								<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
								<td>2300元</td>
							</tr>
							<tr>
								<td>
									<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
									<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
								</td>
								<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
								<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
								<td>2300元</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="tab2" class="tab puchase-table mt5">
					2
				</div>
			</div>
		</div>
    </div>
  </body>
</html>