<!DOCTYPE html>
<html>

<head>
  <!--#include virtual="../include/meta.html" -->
  <title>小库优选——订单详情</title>
  <!--#include virtual="../include/style-script.html" -->
</head>

<body>
  <!-- page 容器 -->
  <div class="page" id="orderPayment">
    <!-- 标题栏 -->
    <header class="bar bar-nav c333">
      <a href="index.html" class="icon icon-left pull-left"></a>
      <h5 class="title">订单详情</h5>
    </header>
    <nav class="bar bar-tab bgfa">
      <div class="details-foot">
        <ul>
          <li class="pull-left">预计应付总金额:<span class="cred"><small>￥</small>346</span></li>
          <li><a href="#" class="btn-white open-popup" data-popup=".model-tip">取消订单</a></li>
          <li><a href="#" class="btn-red open-popup" data-popup=".model-pay">付款</a></li>
        </ul>
      </div>
    </nav>
    <div class="content">
      <div class="order-bg">
        <dl>
          <dt><span class="iconfont icon-yinhangka"></span></dt>
          <dd>待付款 订单于13分20秒内关闭）</dd>
        </dl>
      </div>
      <div class="order-xx">
        <a href="#">
          <dl>
            <dd><span class="iconfont icon-dingdan"></span></dd>
            <dt>您提交了订单，请在13分完成付款!</dt>
            <dd><span class="icon icon-right"></span></dd>
          </dl>
        </a>
      </div>
      <div class="order-xx mt5">
        <dl>
          <dd><span class="iconfont icon-dingwei"></span></dd>
          <dt>张先生 13144842409!<p class="c999">广东省深圳市福田区沙头角街道天安数码城天经大厦AB座701室</p></dt>
        </dl>
      </div>
      <div class="puchase-title mt5">
        <div class="row">
          <div class="col-50">采购计划列表</div>
          <div class="col-50"><a href="#" class="button open-popup" data-popup=".model-recharge">余额不足</a></div>
        </div>
      </div>
      
      <div class="order-box">
        <div class="order-box-img">
          <img src="../../images/product.jpg" alt="">
        </div>
        <div class="details-title mtNo">
          <ul>
            <li>iphone 8 Puls</li>
            <li>金色</li>
            <li>64G</li>
          </ul>
          <ul class="fs12">
            <li>全网通</li>
            <li>大陆行货</li>
          </ul>
          <ul class="fs12">
            <li>
              <p class="cstyle fs12">|<span>触摸失灵</span>|<span>显示屏损坏</span>
              </p>
            </li>
          </ul>
          <ul>
            <li class="cred"><small>￥</small><span>3012.00</span>
            </li>
            <li class="fs12 c999">深圳A仓</li>
          </ul>
          <button class="button button-style1 title-btn1">商品报告</button>
        </div>
      </div>
      <div class="order-xx mt5 bgfa">
        <dl>
          <dt class="c999"><p><small>订单编号：17010213235546132</small></p><p><small>下单时间：2018-01-12 15:30</small></p></dt>
        </dl>
      </div>
      
    </div>
  </div>
  
  <!-- 支付弹框-->
  <div class="popup model model-pay">
    <div class="model-bg close-popup"></div>
    <div class="model-pay">
      <div class="model-header">
        <span class="icon iconfont icon-cha pull-left close-popup"></span>
        <div class="title">选择支付方式</div>
      </div> 
      <div class="model-pay-body">
        <dl>
          <dt class="text-center">￥100060<br><small>1000元+60元手续费</small></dt>
          <dd><span class="iconfont icon-weixinzhifu"></span>微信支付<span class="iconfont icon-d"></span></dd>
          <dd><span class="iconfont icon-zhifubao"></span>支付宝<span class="iconfont icon-d"></span></dd>
        </dl>
        <p><a href="#" class="button button-fill close-popup">确认支付</a></p>
      </div>
    </div>
  </div>
  <!-- 支付弹框 end-->

  <!--余额不足 start-->
  <div class="popup model model-recharge">
    <div class="model-bg close-popup"></div>
    <div class="model-pay">
      <div class="model-header">
        <span class="icon iconfont icon-cha pull-left close-popup"></span>
        <div class="title">余额不足</div>
      </div> 
      <div class="model-pay-body">
        <dl>
          <dt class="text-center"><p>您现在的账户余额为：257,00元，不足以支付本订单请充值后完成支付！</p></dt>
        </dl>
        <ul>
          <li class="active"><span>1000元</span></li>
          <li><span>3000元</span></li>
          <li><span>5000元</span></li>
          <li><span>10000元</span></li>
          <li><span>30000元</span></li>
          <li><span>50000元</span></li>
        </ul>
        <p><a href="#" class="button button-fill close-popup">确认充值</a></p>
      </div>
    </div>
  </div>
  <!--余额不足 end-->

  <!-- 取消订单 start-->
  <div class="popup model model-tip">
    <div class="model-bg close-popup"></div>
    <div class="model-box">
      <div class="model-body">你是否取消当前订单？</div>
      <div class="model-foot">
        <ul>
          <li class="close-popup">取消</li>
          <li class="close-popup">确认</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- 取消订单 end-->
</body>

</html>