<!DOCTYPE html>
<html>

<head>
  <!--#include virtual="../include/meta.html" -->
  <title>小库优选——支付成功</title>
  <!--#include virtual="../include/style-script.html" -->
</head>

<body>
  <!-- page 容器 -->
  <div class="page" id="orderPaymentSuccees">
    <!-- 标题栏 -->
    <header class="bar bar-nav c333">
      <a href="index.html" class="icon icon-left pull-left"></a>
      <h5 class="title">支付成功</h5>
    </header>
    
    <div class="content">
      <div class="order-bg">
        <dl>
          <dt><span class="iconfont icon-pay-gou"></span></dt>
          <dd>支付方式：<span class="cstyle">余额支付</span><br>订单金额：<span class="cstyle">￥9603</span></dd>
        </dl>
      </div>
      <div class="order-xx">
        <ul>
          <li class="c666">付款已完成，请耐心等待商家发货，由于发货地点较为分散，商品会分批次到达！</li>
          <li class="text-center mt5"><a href="#" class="button">查看订单详情</a></li>
        </ul>
      </div>
      <div class="order-xx1">
        <span class="iconfont icon-shuxing"></span>
        <small>重要提示：付款成功后，小库优选不会以付款异常、卡单、系统升级为由联系您，请勿泄露银行卡号、手机验证码、否则造成钱款损失，谨防电话诈骗！</small>
      </div> 
    </div>
  </div>
  
</body>

</html>