<!DOCTYPE html>
<html>

<head>
  <!--#include virtual="../include/meta.html" -->
  <title>小库优选——订单详情</title>
  <!--#include virtual="../include/style-script.html" -->
</head>

<body>
  <!-- page 容器 -->
  <div class="page" id="orderCancel">
    <!-- 标题栏 -->
    <header class="bar bar-nav c333">
      <a href="index.html" class="icon icon-left pull-left"></a>
      <h5 class="title">订单详情</h5>
    </header>
    <nav class="bar bar-tab bgfa">
      <div class="details-foot">
        <ul>
          <li class="pull-left">预计应付总金额:<span class="cred"><small>￥</small>4526.00</span></li>
          <li>
              <label class="register-checkbox"><span class="iconfont icon-weixuanzhong"></span></label>
              <input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
          </li>
          <li class="cred">达成交易即付款</li>
        </ul>
      </div>
    </nav>
    <div class="content">
      <div class="order-bg">
        <dl>
          <dt><span class="iconfont icon-qian"></span></dt>
          <dd>议价中</dd>
        </dl>
      </div>
      <div class="order-xx">
        <a href="#">
          <dl>
            <dd><span class="iconfont icon-dingdan"></span></dd>
            <dt>您的订单已提交，请等待商家确认!</dt>
            <dd><span class="icon icon-right"></span></dd>
          </dl>
        </a>
      </div>
      <div class="order-xx mt5">
        <dl>
          <dd><span class="iconfont icon-dingwei"></span></dd>
          <dt>张先生 13144842409! <a href="#" class="btn-color1 pull-right">更换地址</a><p class="c999">广东省深圳市福田区沙头角街道天安数码城天经大厦AB座701室</p></dt>
        </dl>
      </div>
      <div class="puchase-title mt5">
        <div class="row">
          <div class="col-50">议价信息</div>
        </div>
      </div>
      <div class="concel">
        <div class="order-box">
          <div class="order-box-img">
            <img src="../../images/product.jpg" alt="">
          </div>
          <div class="details-title mtNo">
            <ul>
              <li>iphone 8 Puls</li>
              <li>金色</li>
              <li>64G</li>
            </ul>
            <ul class="fs12">
              <li>全网通</li>
              <li>大陆行货</li>
            </ul>
            <ul class="fs12">
              <li>
                <p class="cstyle fs12">|<span>触摸失灵</span>|<span>显示屏损坏</span>
                </p>
              </li>
            </ul>
            <ul>
              <li class="cred"><small>￥</small><span>3012.00</span>
              </li>
              <li class="fs12 c999">深圳A仓</li>
            </ul>
            <button class="button button-style1 title-btn1">商品报告</button>
          </div>
        </div>
        <div class="cancel-box bgfff pd5">
          <dl>
            <dt>议价状态：待出价</dt>
            <dd class="cstyle">出价次数2次</dd>
            <dd>
              <span><input type="number" class="cancel-input"></span>
              <span><button type="button" class="cancel-button">出价</button></span>
            </dd>
          </dl>
        </div>
      </div>
      <div class="concel">
        <div class="order-box">
          <div class="order-box-img">
            <img src="../../images/product.jpg" alt="">
          </div>
          <div class="details-title mtNo">
            <ul>
              <li>iphone 8 Puls</li>
              <li>金色</li>
              <li>64G</li>
            </ul>
            <ul class="fs12">
              <li>全网通</li>
              <li>大陆行货</li>
            </ul>
            <ul class="fs12">
              <li>
                <p class="cstyle fs12">|<span>触摸失灵</span>|<span>显示屏损坏</span>
                </p>
              </li>
            </ul>
            <ul>
              <li class="cred"><small>￥</small><span>3012.00</span>
              </li>
              <li class="fs12 c999">深圳A仓</li>
            </ul>
            <button class="button button-style1 title-btn1">商品报告</button>
          </div>
        </div>
        <div class="cancel-box bgfff pd5">
          <dl>
            <dt>议价状态：等待确认</dt>
            <dd class="cstyle">出价次数2次</dd>
            <dd>
              <span><input type="number" class="cancel-input"></span>
              <span><button type="button" class="cancel-button">撤消出价</button></span>
            </dd>
          </dl>
        </div>
      </div>
      <div class="concel">
        <div class="order-box">
          <div class="order-box-img">
            <img src="../../images/product.jpg" alt="">
          </div>
          <div class="details-title mtNo">
            <ul>
              <li>iphone 8 Puls</li>
              <li>金色</li>
              <li>64G</li>
            </ul>
            <ul class="fs12">
              <li>全网通</li>
              <li>大陆行货</li>
            </ul>
            <ul class="fs12">
              <li>
                <p class="cstyle fs12">|<span>触摸失灵</span>|<span>显示屏损坏</span>
                </p>
              </li>
            </ul>
            <ul>
              <li class="cred"><small>￥</small><span>3012.00</span>
              </li>
              <li class="fs12 c999">深圳A仓</li>
            </ul>
            <button class="button button-style1 title-btn1">商品报告</button>
          </div>
        </div>
        <div class="cancel-box bgfff pd5">
          <dl>
            <dt>议价状态：被驳回</dt>
            <dd class="cstyle">出价次数0次</dd>
            <dd>
              <span><input type="number" class="cancel-input"></span>
              <span><button type="button" class="cancel-button">撤消出价</button></span>
            </dd>
          </dl>
        </div>
      </div>
      <div class="order-xx mt5 bgfa">
        <dl>
          <dt class="c999"><p><small>订单编号：17010213235546132</small></p><p><small>下单时间：2018-01-12 15:30</small></p></dt>
        </dl>
      </div>
    </div>
  </div>
  
</body>

</html>