<!DOCTYPE html>
<html>

<head>
  <!--#include virtual="../include/meta.html" -->
  <title>小库优选——评价</title>
  <!--#include virtual="../include/style-script.html" -->
</head>

<body>
  <!-- page 容器 -->
  <div class="page" id="orderEvaluate">
    <!-- 标题栏 -->
    <header class="bar bar-nav c333">
      <a href="index.html" class="icon icon-left pull-left"></a>
      <h5 class="title">发表评价</h5>
      <button class="button pull-right btn-1">发布</button>
    </header>
    
    <div class="content">
      <div class="bgfff mt5 evaluate-box">
        <dl>
          <dt><img src="../../images/product.jpg" alt=""></dt>
          <dd>描述相符</dd>
          <dd class="evaluate-icon evaluate-pj">
            <span class="iconfont icon-wuxing"></span>
            <span class="iconfont icon-wuxing"></span>
            <span class="iconfont icon-wuxing"></span>
            <span class="iconfont icon-wuxing"></span>
            <span class="iconfont icon-wuxing"></span>
          </dd>
          <dd class="pull-right" id="evaluate-text">一般</dd>
        </dl>
        <p>
          <textarea maxlength="200" placeholder="请您写下对该商品的评价"></textarea>
        </p>
      </div> 
      <div class="bgfff mt5 evaluate-box lh1">
        <dl>
          <dd>服务态度</dd>
          <dd class="evaluate-icon">
            <span class="iconfont icon-wuxing"></span>
            <span class="iconfont icon-wuxing"></span>
            <span class="iconfont icon-wuxing"></span>
            <span class="iconfont icon-wuxing"></span>
            <span class="iconfont icon-wuxing"></span>
          </dd>
        </dl>
        <dl>
          <dd>物流服务</dd>
          <dd class="evaluate-icon">
            <span class="iconfont icon-wuxing"></span>
            <span class="iconfont icon-wuxing"></span>
            <span class="iconfont icon-wuxing"></span>
            <span class="iconfont icon-wuxing"></span>
            <span class="iconfont icon-wuxing"></span>
          </dd>
        </dl>
      </div> 
    </div>
  </div>
  
</body>

</html>