<!DOCTYPE html>
<html>

<head>
  <!--#include virtual="../include/meta.html" -->
  <title>小库优选——订单跟踪</title>
  <!--#include virtual="../include/style-script.html" -->
</head>

<body>
  <!-- page 容器 -->
  <div class="page bgfff" id="orderTrack">
    <!-- 标题栏 -->
    <header class="bar bar-nav c333">
      <a href="index.html" class="icon icon-left pull-left"></a>
      <h5 class="title">订单跟踪</h5>
    </header>
    
    <div class="content">
      <div class="bgfa pd5 c666" id="track-title">订单编号：20170510213235546132</div>
      <div class="track-box">
        <dl class="active">
          <dt>付款已完成，请耐心等待商家发货!</dt>
          <dd>2017-12-31 10:23</dd>
        </dl>
        <dl>
          <dt>付款已完成，请耐心等待商家发货!</dt>
          <dd>2017-12-31 10:23</dd>
        </dl>
        <dl>
          <dt>付款已完成，请耐心等待商家发货!</dt>
          <dd>2017-12-31 10:23</dd>
        </dl>
      </div>
    </div>
  </div>
  
</body>

</html>