<!DOCTYPE html>
<html>
  <head>
    <!--#include virtual="../include/meta.html" -->
    <title>小库优选——采购中心</title>
    <!--#include virtual="../include/style-script.html" -->
  </head>
  <body>
    <!-- page 容器 -->
    <div class="page" id="purchase">
      <!-- 标题栏 -->
		<header class="bar bar-nav c333">
			<h4 class="title">采购中心</h4>
		</header>
		<nav class="bar bar-tab">
			<a class="tab-item active" href="#">
				<span class="icon bar-icon-01"></span>
				<span class="tab-label mtNo">采购中心</span>
			</a>
			<a class="tab-item" href="#">
				<span class="icon bar-icon-02"></span>
				<span class="tab-label mtNo">订单管理</span>
			</a>
			<a class="tab-item" href="#">
				<span class="icon bar-icon-03"></span>
				<span class="tab-label mtNo">采购单</span>
				<span class="badge">2</span>
			</a>
			<a class="tab-item" href="#">
				<span class="icon bar-icon-04"></span>
				<span class="tab-label mtNo">我的</span>
			</a>
		</nav>

		<div class="content">
			<div class="puchase-box">
				<ul>
					<li><h5>23</h5><p>议价中的商品</p></li>
					<li><h5>532</h5><p><span class="pull-left">|</span>已购买商品</p></li>
					<li><h5>4023</h5><p><span class="pull-left">|</span>预计的利额</p></li>
				</ul>
			</div>
			<div class="puchase-title">
				<div class="row">
					<div class="col-50">采购计划列表</div>
					<div class="col-50"><a href="#" class="button pull-right">发起采购</a></div>
				</div>
			</div>
			<div class="puchase-table">
				<table border="1">
					<thead>
						<tr>
							<th width="23%">时间段</th>
							<th width="35%">商品属性</th>
							<th width="30%">价格/获利区间</th>
							<th>已匹配</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="active">11/07-12/23</td>
							<td>苹果 iPhone 6 <br>成新不限 颜色不限 </td>
							<td>2000~3500<br>1008-1889</td>
							<td><span class="cstyle">23</span>&nbsp;<i class="iconfont icon-youjiantou cyellow"></i></td>
						</tr>
						<tr>
							<td>11/07-12/23</td>
							<td>苹果 iPhone 6 <br>成新不限 颜色不限 </td>
							<td>2000~3500<br>1008-1889</td>
							<td><span class="cstyle">23</span>&nbsp;<i class="iconfont icon-youjiantou cyellow"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="puchase-title mt5">
				<div class="row">
					<div class="col-50">现货中心</div>
				</div>
			</div>
			<div class="puchase-table">
				<table border="1">
					<thead>
						<tr>
							<th width="35%">商品属性</th>
							<th width="40%">异常情况&nbsp;<i class="iconfont icon-shaixuan"></i></th>
							<th width="14%">价格</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
							<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
							<td>2300元</td>
							<td><a href="#" class="cred">采购</a><br><br><a href="#" class="c666">议价</a></td>
						</tr>
						<tr>
							<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
							<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
							<td>2300元</td>
							<td><a href="#" class="cred">采购</a><br><br><a href="#" class="c666">议价</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
    </div>
  </body>
</html>