<!DOCTYPE html>
<html>
  <head>
    <!--#include virtual="../include/meta.html" -->
    <title>小库优选——发起采购</title>
    <!--#include virtual="../include/style-script.html" -->
  </head>
  <body>
    <!-- page 容器 -->
    <div class="page bgfff" id="release">
      <!-- 标题栏 -->
		<header class="bar bar-nav c333">
			<a href="index.html" class="icon icon-left pull-left"></a>
			<h4 class="title">发起采购</h4>
		</header>
		<div class="content">
			<div class="release-box mt5">
				<dl>
					<dt class="text-right">采购期限<span class="cstyle">*</span>：</dt>
					<dd>
						<span class="active">7天内</span>
						<span>15天内</span>
						<span>一个月内</span>
						<span>长期</span>
					</dd>
				</dl>
				<dl>
					<dt class="text-right">商品类型<span class="cstyle">*</span>：</dt>
					<dd>
						<span class="active">手机</span>
						<span>笔记本</span>
						<span>平板电脑</span>
						<span>数码相机</span>
					</dd>
				</dl>
				<dl>
					<dt class="text-right">商品品牌<span class="cstyle">*</span>：</dt>
					<dd>
						<select>
							<option>Male</option>
							<option>Female</option>
						</select>
					</dd>
				</dl>
				<dl>
					<dt class="text-right">商品型号<span class="cstyle">*</span>：</dt>
					<dd>
						<select>
							<option>Male</option>
							<option>Female</option>
						</select>
					</dd>
				</dl>
				<dl>
					<dt class="text-right">商品颜色<span class="cstyle">*</span>：</dt>
					<dd class="many">
						<span class="active">深空灰</span>
						<span>银色</span>
						<span>金色</span>
						<span class="off">不限</span>
					</dd>
				</dl>
				<dl>
					<dt class="text-right">商品版本<span class="cstyle">*</span>：</dt>
					<dd class="many">
						<span class="active">大陆行货</span>
						<span>香港行货</span>
						<span>香港行货</span>
						<span>水货有锁</span>
						<span class="off">不限</span>
					</dd>
				</dl>
				<dl>
					<dt class="text-right">商品容量<span class="cstyle">*</span>：</dt>
					<dd class="many">
						<span class="active">32G</span>
						<span>64G</span>
						<span>128G</span>
						<span class="off">不限</span>
					</dd>
				</dl>
				<dl>
					<dt class="text-right">商品成色<span class="cstyle">*</span>：</dt>
					<dd class="many">
						<span class="active">99新</span>
						<span>95新</span>
						<span>9成新</span>
						<span>8.5新</span>
						<span class="off">不限</span>
					</dd>
				</dl>
				<dl>
					<dt class="text-right">价格区间<span class="cstyle">*</span>：</dt>
					<dd>
						<p><input type="text" class="release-input">至<input type="text" class="release-input ml">元</p>
						<p><small>（市场建议价格为2564~3546元）</small></p>
					</dd>
				</dl>
				<dl>
					<dt class="text-right">所需数量<span class="cstyle">*</span>：</dt>
					<dd>
						<p><input type="text" class="release-input">台<small>（填写所需商品的总量）</small></p>
					</dd>
				</dl>
				<dl>
					<p><button type="button" class="button button-fill btn">发布</button></p>
				</dl>
			</div>
		</div>
    </div>
  </body>
</html>