<!DOCTYPE html>
<html>

<head>
  <!--#include virtual="../include/meta.html" -->
  <title>小库优选——商品详情</title>
  <!--#include virtual="../include/style-script.html" -->
</head>

<body>
  <!-- page 容器 -->
  <div class="page" id="shopDetails-1">
    <!-- 标题栏 -->
    <header class="bar bar-nav c333">
      <a href="index.html" class="icon icon-left pull-left"></a>
      <h5 class="title">商品详情</h5>
      <a href="#" class="icon icon-share share-btn pull-right"></a>
      <a href="#" class="icon iconfont icon-xihuan pull-right"></a>
    </header>
    <nav class="bar bar-tab">
      <div class="details-foot">
        <ul>
          <li><span class="cred"><small>￥</small>346</span></li>
          <li id="details-flag" class="none"><a href="#" class="btn-white">不看</a>
          <li><a href="#" class="btn-white">议价</a></li>
          <li><a href="#" class="btn-red">采购</a></li>
        </ul>
      </div>
    </nav>
    <div class="content">
      <div class="swiper-container product-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide pb-standalone"><img class="open-popup product-popup" data-popup=".popup-product-img" src="../../images/product.jpg" alt="">
          </div>
          <div class="swiper-slide pb-standalone"><img class="open-popup product-popup" data-popup=".popup-product-img" src="../../images/product.jpg" alt="">
          </div>
          <div class="swiper-slide pb-standalone"><img class="open-popup product-popup" data-popup=".popup-product-img" src="../../images/product.jpg" alt="">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="buttons-tab">
        <a href="#tab1" class="tab-link button active">基本资料</a>
        <a href="#tab2" class="tab-link button">商品报告</a>
      </div>
      <div class="mt5"></div>
      <div class="bgfff">
        <div class="tabs">
          <div id="tab1" class="tab active details-box">
            <dl>
              <dt>商品创建时间：</dt>
              <dd>2016-06-13</dd>
            </dl>
            <dl>
              <dt>商品状态：</dt>
              <dd class="cstyle">销售中</dd>
            </dl>
            <dl>
              <dt>商品编号：</dt>
              <dd>664411851211</dd>
            </dl>
            <dl>
              <dt>商品类别：</dt>
              <dd>664411851211</dd>
            </dl>
            <dl>
              <dt>商品价格：</dt>
              <dd class="cstyle">￥1699</dd>
            </dl>
            <dl>
              <dt>放置位置：</dt>
              <dd>店铺内</dd>
            </dl>
            <dl>
              <dt>商品属性：</dt>
              <dd>iPhone 8 puls 99新 64G 全网通 大陆行货大陆行货</dd>
            </dl>
          </div>
          <div id="tab2" class="tab details-box1">
            <h5>机型情况</h5>
            <table border="1">
              <tbody>
                <tr>
                  <td>网络制式<span class="iconfont icon-dui"></span>
                  </td>
                  <td>电信4G</td>
                </tr>
                <tr>
                  <td>储存容量<span class="iconfont icon-cuowu"></span>
                  </td>
                  <td>32g</td>
                </tr>
                <tr>
                  <td>机身进水情况<span class="iconfont icon-cuowu"></span>
                  </td>
                  <td>正常</td>
                </tr>
                <tr>
                  <td>指纹情况<span class="iconfont icon-dui"></span>
                  </td>
                  <td>正常</td>
                </tr>
                <tr>
                  <td>照相及感光功能<span class="iconfont icon-cuowu"></span>
                  </td>
                  <td>正常</td>
                </tr>
                <tr>
                  <td>外观情况<span class="iconfont icon-dui"></span>
                  </td>
                  <td>正常</td>
                </tr>
              </tbody>
            </table>
            <p><span class="iconfont icon-dui"></span>正常 &nbsp;&nbsp;&nbsp;&nbsp;<span class="iconfont icon-cuowu"></span>不正常</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="popup popup-product-img">
    <header class="bar bar-nav">
      <span class="icon iconfont icon-cha pull-left close-popup"></span>
      <span href="#" class="icon icon-share pull-right share-btn"></span>
    </header>
    <div class="swiper-container productImg-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-zoom-container">
            <img class="open-popup" data-popup=".popup-product-img" src="../../images/product.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-zoom-container">
            <img class="open-popup" data-popup=".popup-product-img" src="../../images/product.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-zoom-container">
            <img class="open-popup" data-popup=".popup-product-img" src="../../images/product.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="share-box">
    <div class="share-bg"></div>
    <div class="share-content">
      <div class="share-icon">
        <a href="#" class="iconfont icon-weixin"><span>微信</span></a>
        <a href="#" class="iconfont icon-pengyouquan"><span>朋友圈</span></a>
        <a href="#" class="iconfont icon-qq"><span>QQ</span></a>
        <a href="#" class="iconfont icon-kongjian"><span>QQ空间</span></a>
        <a href="#" class="iconfont icon-weibo"><span>新浪微博</span></a>
      </div>
      <div class="share-cancel-btn">取消</div>
    </div>
  </div>
</body>

</html>