<!DOCTYPE html>
<html>

<head>
  <!--#include virtual="../include/meta.html" -->
  <title>小库优选——采购单</title>
  <!--#include virtual="../include/style-script.html" -->
</head>

<body>
  <!-- page 容器 -->
  <div class="page" id="shopDetails">
    <!-- 标题栏 -->
    <header class="bar bar-nav c333">
      <a href="index.html" class="icon icon-left pull-left"></a>
      <span href="index.html" class="pull-left bar-box">苹果手机（11-07~12-12）</span>
      <a href="#" class="icon iconfont icon-gouwuche pull-right"><span class="badge">2</span></a>
      <a href="#" class="icon iconfont icon-xihuan pull-right"></a>
    </header>
    <nav class="bar bar-tab">
      <a class="tab-item borr" href="#">下一个</a>
      <a class="tab-item" href="#">暂放议价袋</a>
      <a class="tab-item bstyle" href="#">加入采购单</a>
      <a class="tab-item bred" href="#">立即采购</a>
    </nav>

    <div class="content">
      <div class="details-title">
        <p>大陆行货/香港行货 <span class="c999">|</span> 32G/128G <span class="c999">|</span> 99新/95新</p>
        <p>所需数量：100台<span class="c999">（总数）</span>
        </p>
        <p>2366 至 3266元</p>
        <button class="button button-style1 title-btn">重新搜寻</button>
      </div>
      <div class="swiper-container product-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide pb-standalone"><img class="open-popup product-popup" data-popup=".popup-product-img" src="../../images/product.jpg" alt="">
          </div>
          <div class="swiper-slide pb-standalone"><img class="open-popup product-popup" data-popup=".popup-product-img" src="../../images/product.jpg" alt="">
          </div>
          <div class="swiper-slide pb-standalone"><img class="open-popup product-popup" data-popup=".popup-product-img" src="../../images/product.jpg" alt="">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="details-title mtNo">
        <ul>
          <li>iphone 8 Puls</li>
          <li>金色</li>
          <li>64G</li>
        </ul>
        <ul class="fs12">
          <li>全网通</li>
          <li>大陆行货</li>
        </ul>
        <ul>
          <li>
            <p class="cstyle fs12">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span>
            </p>
          </li>
        </ul>
        <ul>
          <li class="cred">￥<span>3012.00</span>
          </li>
          <li class="fs12 c999">深圳A仓</li>
        </ul>
        <button class="button button-style1 title-btn1">商品报告</button>
      </div>
    </div>
  </div>

  <div class="popup popup-product-img">
    <header class="bar bar-nav">
      <span class="icon iconfont icon-cha pull-left close-popup"></span>
      <span href="#" class="icon icon-share pull-right share-btn"></span>
    </header>
    <div class="swiper-container productImg-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-zoom-container">
            <img class="open-popup" data-popup=".popup-product-img" src="../../images/product.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-zoom-container">
            <img class="open-popup" data-popup=".popup-product-img" src="../../images/product.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-zoom-container">
            <img class="open-popup" data-popup=".popup-product-img" src="../../images/product.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="share-box">
    <div class="share-bg"></div>
    <div class="share-content">
      <div class="share-icon">
        <a href="#" class="iconfont icon-weixin"><span>微信</span></a>
        <a href="#" class="iconfont icon-pengyouquan"><span>朋友圈</span></a>
        <a href="#" class="iconfont icon-qq"><span>QQ</span></a>
        <a href="#" class="iconfont icon-kongjian"><span>QQ空间</span></a>
        <a href="#" class="iconfont icon-weibo"><span>新浪微博</span></a>
      </div>
      <div class="share-cancel-btn">取消</div>
    </div>
  </div>

</body>

</html>