<!DOCTYPE html>
<html>
  <head>
    <!--#include virtual="../include/meta.html" -->
    <title>小库优选——收货地址</title>
    <!--#include virtual="../include/style-script.html" -->
  </head>
  <body>
    <!-- page 容器 -->
    <div class="page" id="userAddress">
      <!-- 标题栏 -->
		<header class="bar bar-nav c333">
			<a href="index.html" class="icon icon-left pull-left"></a>
			<h4 class="title">管理收货地址</h4>
		</header>
		
		<div class="content">
			<div class="address-box">
				<dl>
					<dt><span>张晓明</span><span>159****0534</span></dt>
					<dd>广东省 深圳市 福田区 天安数码城天经大厦AB座701室</dd>
				</dl>
				<ul>
					<li><label class="address-icon active"><span class="iconfont icon-unselected"></span><input type="radio" name="address" class="none">默认地址</label></li>
					<li>
						<a href="#"><span class="iconfont icon-pingjia"></span>编辑</a>
						<a href="#"><span class="iconfont icon-huishouzhan"></span>删除</a>
					</li>
				</ul>
			</div>
			<div class="address-box">
				<dl>
					<dt><span>张晓明</span><span>159****0534</span></dt>
					<dd>广东省 深圳市 福田区 天安数码城天经大厦AB座701室</dd>
				</dl>
				<ul>
					<li><label class="address-icon"><span class="iconfont icon-unselected"></span><input type="radio" name="address" class="none">默认地址</label></li>
					<li>
						<a href="#"><span class="iconfont icon-pingjia"></span>编辑</a>
						<a href="#"><span class="iconfont icon-huishouzhan"></span>删除</a>
					</li>
				</ul>
			</div>
			<div class="address-box">
				<dl>
					<dt><span>张晓明</span><span>159****0534</span></dt>
					<dd>广东省 深圳市 福田区 天安数码城天经大厦AB座701室</dd>
				</dl>
				<ul>
					<li><label class="address-icon"><span class="iconfont icon-unselected"></span><input type="radio" name="address" class="none">默认地址</label></li>
					<li>
						<a href="#"><span class="iconfont icon-pingjia"></span>编辑</a>
						<a href="#"><span class="iconfont icon-huishouzhan"></span>删除</a>
					</li>
				</ul>
			</div>
			<div class="address-box">
				<dl>
					<dt><span>张晓明</span><span>159****0534</span></dt>
					<dd>广东省 深圳市 福田区 天安数码城天经大厦AB座701室</dd>
				</dl>
				<ul>
					<li><label class="address-icon"><span class="iconfont icon-unselected"></span><input type="radio" name="address" class="none">默认地址</label></li>
					<li>
						<a href="#"><span class="iconfont icon-pingjia"></span>编辑</a>
						<a href="#"><span class="iconfont icon-huishouzhan"></span>删除</a>
					</li>
				</ul>
			</div>
			<div class="mt5 pd5">
				<button href="#" class="button button-fill hl2 w100r">确认支付</button>
			</div>
		</div>
    </div>
  </body>
</html>