<!DOCTYPE html>
<html>
  <head>
    <!--#include virtual="../include/meta.html" -->
    <title>小库优选——添加银行卡</title>
    <!--#include virtual="../include/style-script.html" -->
  </head>
  <body>
    <!-- page 容器 -->
    <div class="page" id="userCase">
      <!-- 标题栏 -->
		<header class="bar bar-nav c333">
			<button class="button button-link button-nav pull-left">取消</button>
			<h4 class="title">添加银行卡</h4>
		</header>
		<div class="content">
			<div class="list-block mt5">
			    <ul>
			      <!-- Text inputs -->
			      <li>
			        <div class="item-content">
			          <div class="item-inner">
			            <div class="item-title label">开户行</div>
			            <div class="item-input posi">
			              <input type="text" placeholder="选择手机" id="picker-card" value="请选择" class="input-text-right" readonly="">
			              <span class="icon icon-right posi-right"></span>
			            </div>
			          </div>
			        </div>
			      </li>
			      <li>
			        <div class="item-content">
			          <div class="item-inner">
			            <div class="item-title label">银行卡号</div>
			            <div class="item-input">
			              <input type="text" placeholder="" value="">
			            </div>
			          </div>
			        </div>
			      </li>
				  <li>
			        <div class="item-content">
			          <div class="item-inner">
			            <div class="item-title label">持卡人姓名</div>
			            <div class="item-input">
			              <input type="text" placeholder="" value="">
			            </div>
			          </div>
			        </div>
			      </li>
			      <li>
			        <div class="item-content">
			          <div class="item-inner">
			            <div class="item-title label">身份证号码</div>
			            <div class="item-input">
			              <input type="text" placeholder="" value="">
			            </div>
			          </div>
			        </div>
			      </li>
			    </ul>
			</div>
			<div class="mt5 pd5">
				<button href="#" class="button button-fill hl2 w100r">确认添加</button>
			</div>
		</div>
    </div>
  </body>
</html>