<!DOCTYPE html>
<html>
  <head>
    <!--#include virtual="../include/meta.html" -->
    <title>小库优选——商品订阅列表</title>
    <!--#include virtual="../include/style-script.html" -->
  </head>
  <body>
    <!-- page 容器 -->
    <div class="page" id="userSubscribe">
      <!-- 标题栏 -->
		<header class="bar bar-nav c333">
			<a href="index.html" class="icon icon-left pull-left"></a>
      		<h5 class="title">商品订阅列表</h5>
		</header>
		<nav class="bar bar-tab">
      		<div class="details-foot subscribe-foot">
		        <ul>
		        	<li><label class="register-checkbox" id="quanxuan"><span class="iconfont icon-weixuanzhong"></span></label><input type="checkbox" value="" class="none"></li>
					<li><a href="#" class="btn-red">采购</a></li>
					<li><a href="#" class="btn-white">议价</a></li>
					<li><a href="#" class="btn-white">取消订阅</a>
					<li><a href="#" class="btn-white">不看</a>
		        </ul>
	      	</div>
	    </nav>
		<div class="content">
			<div class="puchase-table">
				<table border="1">
					<thead>
						<tr>
							<th>序号</th>
							<th width="35%">商品属性</th>
							<th width="40%"><i class="iconfont icon-shaixuan"></i>&nbsp;异常情况</th>
							<th width="14%">价格</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
								<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
							</td>
							<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
							<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
							<td>2300元</td>
						</tr>
						<tr>
							<td>
								<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
								<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
							</td>
							<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
							<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
							<td>2300元</td>
						</tr>
						<tr>
							<td>
								<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
								<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
							</td>
							<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
							<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
							<td>2300元</td>
						</tr>
						<tr>
							<td>
								<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
								<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
							</td>
							<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
							<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
							<td>2300元</td>
						</tr>
						<tr>
							<td>
								<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
								<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
							</td>
							<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
							<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
							<td>2300元</td>
						</tr>
						<tr>
							<td>
								<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
								<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
							</td>
							<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
							<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
							<td>2300元</td>
						</tr>
						<tr>
							<td>
								<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
								<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
							</td>
							<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
							<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
							<td>2300元</td>
						</tr>
						<tr>
							<td>
								<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
								<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
							</td>
							<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
							<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
							<td>2300元</td>
						</tr>
						<tr>
							<td>
								<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
								<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
							</td>
							<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
							<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
							<td>2300元</td>
						</tr>
						<tr>
							<td>
								<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
								<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
							</td>
							<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
							<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
							<td>2300元</td>
						</tr>
						<tr>
							<td>
								<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
								<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
							</td>
							<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
							<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
							<td>2300元</td>
						</tr>
						<tr>
							<td>
								<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
								<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
							</td>
							<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
							<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
							<td>2300元</td>
						</tr>
						<tr>
							<td>
								<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
								<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
							</td>
							<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
							<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
							<td>2300元</td>
						</tr>
						<tr>
							<td>
								<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
								<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
							</td>
							<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
							<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
							<td>2300元</td>
						</tr>
						<tr>
							<td>
								<label class="register-checkbox" ><span class="iconfont icon-weixuanzhong"></span></label>
								<input type="checkbox" value="1" name="subscribe" class="xuanzhong none">
							</td>
							<td class="text-left">iPhone 8 puls 金色 64G 全网通 大陆行货 <br> <span class="c999">深圳A仓</span></td>
							<td class="text-left cstyle">|<span>触摸失灵</span>|<span>显示屏损坏</span>|<span>主板维修</span>|<span>机身变形</span><span><a href="#" class="button">商品报告</a></span></td>
							<td>2300元</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
    </div>
  </body>
</html>