<!DOCTYPE html>
<html>
  <head>
    <!--#include virtual="../include/meta.html" -->
    <title>小库优选——个人中心</title>
    <!--#include virtual="../include/style-script.html" -->
  </head>
  <body>
    <!-- page 容器 -->
    <div class="page" id="userHome">
      <!-- 标题栏 -->
		<header class="bar bar-nav c333">
			<h4 class="title">我的</h4>
		</header>
		<nav class="bar bar-tab">
			<a class="tab-item" href="#">
				<span class="icon bar-icon-01"></span>
				<span class="tab-label mtNo">采购中心</span>
			</a>
			<a class="tab-item" href="#">
				<span class="icon bar-icon-02"></span>
				<span class="tab-label mtNo">订单管理</span>
			</a>
			<a class="tab-item" href="#">
				<span class="icon bar-icon-03"></span>
				<span class="tab-label mtNo">采购单</span>
				<span class="badge">2</span>
			</a>
			<a class="tab-item active" href="#">
				<span class="icon bar-icon-04"></span>
				<span class="tab-label mtNo">我的</span>
			</a>
		</nav>
		<div class="content">
			<div class="user-bg">
				<div class="user-box">
					<h5><span class="iconfont icon-xiaoxi-bubble"></span></h5>
					<dl>
						<dt><img src="../../images/portrait.jpg" alt=""><span class="iconfont icon-renzheng"></span></dt>
						<dd>
							<strong>张三</strong><br>
							<span>采购商</span><br>
							手机店铺
						</dd>
					</dl>
				</div>
				<div class="user-assets">
					<h5>总资产(元）<br><strong>1895162.00</strong><span><a href="#">查看交易记录</a></span></h5>
					<ul>
						<li>可用余额<strong>5186.00</strong></li>
						<li>交易冻结资金<strong>346290.00</strong></li>
					</ul>
					<p>
						<span class="active">充值</span>
						<span>提现</span>
						<span class="pull-right">银行卡</span>
					</p>
				</div>
			</div>
			<div class="order-xx mt5">
				<dl>
					<dd><span class="iconfont icon-dingwei cstyle"></span></dd>
					<dt>收货地址</dt>
					<dd><a href="#">未设定</a><span class="icon icon-right"></span></dd>
				</dl>
	      	</div>
	      	<div class="order-xx mt5">
				<dl>
					<dd><span class="iconfont icon-wuxing cstyle"></span></dd>
					<dt>商品订阅列表</dt>
					<dd><span class="icon icon-right"></span></dd>
				</dl>
	      	</div>
	      	<div class="order-xx mt5">
				<dl>
					<dd><span class="iconfont icon-kefu cstyle"></span></dd>
					<dt>客服电话：<span class="cstyle">400-100-500</span></dt>
					<dd><small class="c999">服务时间：9:00-20:30</small></dd>
				</dl>
	      	</div>
		</div>
    </div>
  </body>
</html>