<!DOCTYPE html>
<html>

<head>
<!--#include virtual="../include/meta.html" -->
<title>小库优选</title>
<!--#include virtual="../include/style-script.html" -->
</head>

<body>
  <div class="page" id="home">
    <!--#include virtual="../include/nav.html" -->
	<div class="share-title" style="display: none;">小库优选 - 专业手机供应链平台</div>
	<div class="share-desc" style="display: none;">让您更方便快捷...。</div>
    <div class="content">
	  首页
    </div>
  </div>

  <!--#include virtual="../include/footer.html" -->
  
</body>

</html>