<!DOCTYPE html>
<html>
  <head>
    <!--#include virtual="../include/meta.html" -->
    <title>小库优选——登录</title>
    <!--#include virtual="../include/style-script.html" -->
  </head>
  <body>
    <!-- page 容器 -->
    <div class="page" id="login">
      <!-- 标题栏 -->
      <header class="login-nav">
        <a href="index.html" class="icon icon-left pull-left"></a>
      </header>
      <div class="content-padded login-content">
        <div class="row">
          <div class="col-100 login-title text-center"><a class="active">登录</a> | <a href="register.html">注册</a></div>
        </div>
        <div class="login-box">
          <dl>
            <dt><span class="iconfont icon-dianhua"></span></dt>
            <dd><input type="text" placeholder="请输入手机号" class="login-input"></dd>
          </dl>
          <dl>
            <dt><span class="iconfont icon-mima"></span></dt>
            <dd><input type="password" placeholder="输入密码" class="login-input"></dd>
          </dl>
          <p>*登录即代表您同意<a href="#">《隐私条款》</a>和<a href="#">《小库优选用户协议》</a></p>
          <ul>
            <li><button type="button" class="button button-fill">登录</button></li>
            <li class="text-right"><a href="#">忘记密码？</a></li>
          </ul>
        </div>
        <div class="login-third">
          <dl>
            <dd></dd>
            <dt class="text-center">第三方</dt>
            <dd></dd>
          </dl>
        </div>
        <div class="row">
          <div class="col-40 no-gutter text-right"><div class="wx"><a href="#"><span class="iconfont icon-weixin cstyle"></span>微信</a></div></div>
          <div class="col-20">&nbsp;</div>
          <div class="col-40 no-gutter"><div class="zfb"><a href="#"><span class="iconfont icon-zhifubao cblue"></span>支付宝</a></div></div>
        </div>
      </div>
    </div>
  </body>
</html>