<!DOCTYPE html>
<html>
  <head>
    <!--#include virtual="../include/meta.html" -->
    <title>小库优选——注册</title>
    <!--#include virtual="../include/style-script.html" -->
  </head>
  <body>
    <!-- page 容器 -->
    <div class="page" id="login">
      <!-- 标题栏 -->
      <header class="login-nav">
        <a href="index.html" class="icon icon-left pull-left"></a>
      </header>
      <div class="content-padded login-content">
        <div class="row">
          <div class="col-100 login-title text-center"><a href="login.html">登录</a> | <a class="active">注册</a></div>
        </div>
        <div class="login-box">
          <dl>
            <dt><span class="iconfont icon-dianhua"></span></dt>
            <dd><input type="text" placeholder="请输入手机号" class="login-input"></dd>
          </dl>
          <dl>
            <dt><span class="iconfont icon-youjian"></span></dt>
            <dd class="flex3"><input type="text" placeholder="输入验证码" class="login-input"></dd>
            <dd class="flex2"><button type="button" class="button button-fill login-button">获取验证码</button></dd>
          </dl>
          <dl>
            <dt><span class="iconfont icon-mima"></span></dt>
            <dd><input type="password" placeholder="请输入6~16位数字或字母" class="login-input"></dd>
          </dl>
          <p>
            <label class="register-checkbox" for="reg"><span class="iconfont icon-weixuanzhong"></span>&nbsp;&nbsp;</label>
            <input type="checkbox" value="1" name="" class="none" id="reg">
            已阅读并同意<a href="#">《隐私条款》</a>和<a href="#">《B2B供应链平台用户协议》</a>
          </p>
          <ul>
            <li><button type="button" class="button button-off" disabled="disabled">注册</button></li>
          </ul>
        </div>
        
      </div>
    </div>
  </body>
</html>